<nav *ngIf="token !='null'" class="navbar navbar-expand-lg navbar-light position-absolute top-0 start-50" style="margin-left: -245px;">
    <div class="container-fluid">


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


      </button>




      <div class="collapse navbar-collapse text-muted" id="navbarTogglerDemo01" >

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/historial" routerLinkActive="active">Historial</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-item nav-link" routerLink="/miCuenta" routerLinkActive="active">Mi Cuenta</a>
          </li>
        </ul>
       
      </div>
    </div>

    <div class="social-bar posSocial-bar">
     <form class="d-flex"> 
      <button class="icon btn btn-warning" (click)="logOut()"><img class="img2" src="assets/exit2.png"/> Salir</button>
        </form>
    
     </div>
</nav>

<router-outlet></router-outlet>