<div class="container">
<div class="row">

<div class="col">
<img src="assets/medioColoresLado.png"  class="position-absolute top-0 end-0 sizeMedColor">
</div>

<div class="col">
<img src="/assets/menuMed.png" class="posCabecera position-absolute top-0 start-50 d-none d-sm-none d-md-block">
</div>
<div class="col">
<img src="/assets/cabeceraP2.png"  class="cabeceraP2 position-absolute top-0 start-0">
</div>


<button type="button" class="position-absolute top-0 start-0 btn btnAdd text-light" data-bs-toggle="modal" data-bs-target="#modal2"data-whatever="agregar"><b> Agregar Receta</b> </button>
  

</div>
    <div class="social-bar posSocial-bar">
      <a href="/home" class="icon btn start-0"><img class="img1" src="/assets/ICO-volver.png">volver</a>    
     </div>

<footer class="row">
<img class="pie2 col-md-5 position-absolute bottom-0 start-0 d-none d-sm-none d-md-block" src="/assets/esquinaColores.png">
</footer> 


<div class="accordion form position-absolute start-0 top-50 container-fluid" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed btnGrey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Inspiración
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <br><a href="https://www.recetasgratis.net/" target="_blank"> Ver más recetas... </a>
          </div>
          </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button btnGrey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mis Recetas
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
        <div class="accordion-body" *ngFor="let receta of recetas">
          <div>
            <button type="button" class="btn-close" aria-label="eliminar" (click)="eliminarReceta(receta._id)"></button>
            <h3><strong> {{receta.nombre}} </strong> </h3>
        </div>
        <div> Ingredientes: {{receta.ingredientes}} </div>
        <div> Preparación: {{receta.preparacion}} </div> <br>
        <button type="button" class="btn btn2 btn-primary" [routerLink]="['/updateReceta', receta._id ,receta.nombre ,receta.ingredientes, receta.preparacion]"> Modificar </button>
        <br><br> <hr>
      </div>
      </div>

    </div>
    
  
</div> 

<br><br><br>

  <!-- Modal 2 -->
  <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Receta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="recetaForm" (ngSubmit)="postForm(recetaForm.value)">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre..." formControlName="nombre" />
                    
                    <label for="message-text" class="col-form-label">Ingredientes:</label>
                    <textarea type="text" class="form-control" id="inputIngredientes" placeholder="Ingredientes..." formControlName="ingredientes"> </textarea>  

                    <label for="message-text" class="col-form-label">Preparación:</label>
                    <textarea type="text" class="form-control" id="inputPreparacion" placeholder="Preparación..." formControlName="preparacion"> </textarea>  
                </div> <br>
                <hr>
                <button type="submit" class="btn btn-primary btn1">Guardar</button>
                <button type="button" class="btn btn-secondary btn1" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  